build/replace.properties
build/build.number
bin/
cloud-bridge.properties
cloudstack-proprietary/
s3local.cfg
premium/
.veryold/
.lock-wscript
artifacts/
.waf-*
waf-*
*.pem
target/
override/
.metadata
dist/
*~
*.bak
cloud-*.tar.bz2
*.log
*.pyc
*.cfg
build.number
api.log.*.gz
cloud.log.*.*
unittest
deps/cloud.userlibraries
.DS_Store
.idea
*.iml
*.swp
